<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forgotten Times</title>
</head>
<body>
    <header>
        {% for o in quizzes: %}
            <h3>{{ o[1] }}</h3>
            <p>{{ o[2] }}</p>
        {% endfor %}
    </header>
    <main>

    </main>
    <footer>

    </footer>
</body>
</html>